<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ripening Plan</title>

	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body data-mode="rippening">
	<div class="page page--rippening">

		<header class="page__header"></header>

		<section class="page__section">
			<div class="container">

				<h1 class="section__title">Warehouse Chambers</h1>

				<div class="page__chambers chambers">
					<ul class="chambers__left-side">
						<li class="page__chamber" data-num="1">
							<div class="page__chamber-door"></div>
						</li>
						<li class="page__chamber" data-num="2">
							<div class="page__chamber-door"></div>
						</li>
						<li class="page__chamber" data-num="3">
							<div class="page__chamber-door"></div>
						</li>
						<li class="page__chamber" data-num="4">
							<div class="page__chamber-door"></div>
						</li>
						<li class="page__chamber" data-num="5">
							<div class="page__chamber-door"></div>
						</li>
						<li class="page__chamber" data-num="6">
							<div class="page__chamber-door"></div>
						</li>
						<li class="page__chamber" data-num="7">
							<div class="page__chamber-door"></div>
						</li>
						<li class="page__chamber" data-num="8">
							<div class="page__chamber-door"></div>
						</li>
						<li class="page__chamber" data-num="9">
							<div class="page__chamber-door"></div>
						</li>
						<li class="page__chamber" data-num="10">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="11">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="12">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="13">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="14">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="29">
							<div class="page__chamber-door"></div>

						</li>
					</ul>
					<ul class="chambers__right-side">
						<li class="page__chamber" data-num="15">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="16">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="17">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="18">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="19">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="20">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="21">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="22">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="23">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="24">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="25">
							<div class="page__chamber-door"></div>
							25
						</li>
						<li class="page__chamber" data-num="26">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="27">
							<div class="page__chamber-door"></div>
						</li>
						<li class="page__chamber" data-num="28">
							<div class="page__chamber-door"></div>

						</li>
						<li class="page__chamber" data-num="30">
							<div class="page__chamber-door"></div>
							30
						</li>
					</ul>
				</div>

				<div class="section__actions">
					<a href="/index.html" class="button button--secondary">← Back to Home</a>
				</div>

			</div>
		</section>

		<!-- Modal: choose side -->
		<div id="side-modal" class="modal">
			<div class="modal__content">
				<h2 class="modal__title">Choose Side</h2>

				<div class="modal__actions">
					<button data-side="LS" class="button button--primary">LS</button>
					<button data-side="RS" class="button button--primary">RS</button>
				</div>

				<button class="button button--secondary chamber-modal__close">Close</button>
			</div>
		</div>

		<!-- Modal: chamber form -->
		<div id="form-modal" class="modal">
			<div class="modal__content">
				<h2 id="modal-title" class="modal__title">Chamber</h2>

				<form class="form">
					<label class="form__label">
						Контейнер:
						<select id="containerSelect" class="select" required></select>
					</label>

					<label class="form__label">
						Кількість
						<input id="quantity" class="input" readonly>
					</label>

					<label class="form__label">
						Бренд
						<input id="brand" class="input" readonly>
					</label>

					<label class="form__label">
						Код плантації
						<input id="plantationCode" class="input" readonly>
					</label>

					<label class="form__label">
						Країна
						<input id="country" class="input" readonly>
					</label>

					<label class="form__label">
						Регіон
						<input id="region" class="input" readonly>
					</label>

					<button type="submit" class="button button--primary">Зберегти</button>
				</form>

				<button class="button button--secondary chamber-modal__close">Закрити</button>
			</div>
		</div>
		<footer class="page__footer"></footer>

	</div>

	<script type="module" src="/js/chambers.js"></script>
</body>

</html>