<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ripening Plan</title>

	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body data-mode="ripening">
	<div class="page page--ripening">

		<header class="page__header"></header>

		<section class="page__section">
			<div class="container">

				<h1 class="section__title">Warehouse Chambers</h1>

				<div class="page__chambers chambers">

					<div class="chambers__side chambers__side--left">
						<div class="page__chamber" data-num="1">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="2">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="3">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="4">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="5">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="6">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="7">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="8">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="9">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="10">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="11">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="12">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="13">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="14">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="29">
							<div class="page__chamber-door"></div>
						</div>
					</div>

					<div class="chambers__side chambers__side--right">
						<div class="page__chamber" data-num="15">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="16">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="17">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="18">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="19">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="20">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="21">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="22">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="23">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="24">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="25">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="26">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="27">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="28">
							<div class="page__chamber-door"></div>
						</div>
						<div class="page__chamber" data-num="30">
							<div class="page__chamber-door"></div>
						</div>
					</div>

				</div>

				<div class="section__actions">
					<a href="/index.html" class="button button--secondary">← Back to Home</a>
				</div>

			</div>
		</section>

		<footer class="page__footer"></footer>
	</div>

	<script type="module" src="/js/chambers.js"></script>
</body>

</html>