<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Transport Report</title>
  <link rel="stylesheet" href="/css/transport-report.css">
</head>

<body>

  <h1 id="title">Transport Report</h1>

  <div class="filters">
    <select id="filterClient">
      <option value="">All Clients</option>
    </select>
    <select id="filterCountry">
      <option value="">All Countries</option>
    </select>
    <select id="filterProduct">
      <option value="">All Products</option>
    </select>
    <select id="filterCar">
      <option value="">All Trucks</option>
    </select>
    <select id="filterTime">
      <option value="">All Times</option>
    </select>
  </div>

  <div id="reportContainer"></div>

  <script src="/js/transport-report.js"></script>
</body>

</html>